h3 {
font-size: 25px !important;
}
.btn-success:hover {
    background-color:beige;
    color: black;

}
canvas{
    animation-name: marcos;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes marcos {
    from{
        box-shadow: 1px 1px 38px gold;
    }
    to {
    box-shadow: 1px 1px 38px yellow;
    }
}